In [1]:
from getBenchmarkData import *

In [2]:
def analyze_datasets(datasets):
    # Initialize an empty list to store dataset information
    dataset_info = []

    for data_set_key in datasets.keys():
        # Extract data, target, and matrix
        data, _, _ = datasets[data_set_key]
        
        target_length = len(data['target'].iloc[1])

        # Remove 'target' column if it exists
        if 'target' in data.columns:
            data = data.drop(columns=['target'])

        # Define potential binary values
        binary_values = [{0, 1}, {"0", "1"}, {True, False},  {'True', 'False'}, {"y", "n"}, {"ja", "nee"}, {"yes", "no"}, {"waar", "onwaar"}]

        # Identify binary columns based on unique values
        binary_columns = sum(
            data[col].dropna().nunique() <= 2 and set(data[col].dropna().unique()) in binary_values
            for col in data.columns
        )

        # Count the number of numerical columns (integers and floats)
        numerical_columns = data.select_dtypes(include=['number']).shape[1]

        # Count the number of categorical columns
        categorical_columns = data.select_dtypes(include=['object', 'category']).shape[1]

        # Count the number of columns of other types
        total_columns = data.shape[1]
        other_columns = total_columns

        # Append dataset information to the list
        dataset_info.append({
            '$\Omega$': data_set_key,
            '$N$': len(data),
            '$|A|$': other_columns,
            '$|A_{bin}|$': binary_columns,
            '$|A_{num}|$': numerical_columns,
            '$|A_{cat}|$': categorical_columns,
            '$|L|$': target_length
        })

    # Convert the list of dictionaries into a DataFrame
    dataset_df = pd.DataFrame(dataset_info)

    return dataset_df

# Example usage
datasets = get_data('all')
result_df = analyze_datasets(datasets)
print(result_df)
print(result_df.to_latex(index=False))

<>:36: SyntaxWarning: invalid escape sequence '\O'
<>:36: SyntaxWarning: invalid escape sequence '\O'
C:\Users\bengelen004\AppData\Local\Temp\ipykernel_21680\2039351130.py:36: SyntaxWarning: invalid escape sequence '\O'
  '$\Omega$': data_set_key,

           $\Omega$    $N$  $|A|$  $|A_{bin}|$  $|A_{num}|$  $|A_{cat}|$  \
0         wisconsin    194     16            0           16            0
1               cpu   8192      6            0            6            0
2            voting    351     83            0           82            1
3      student_math    395     30            8           13           17
4       student_por    649     30            8           13           17
5         elevators  16599      9            0            9            0
6             ecoli    336      7            2            5            2
7              wine    178     13            0           13            0
8             sushi   5000     10            4            2            8
9       Netherlands    213     11            0            5            6
10           France    907     11            0            5            6
11          Germany   1114     11            0            5            6
12            India   1274     11            0            5            6
13        Australia   1601     11            0            5            6
14      South Korea    662     11            0            5            6
15        Indonesia    626     11            0            5            6
16           Brazil    508     11            0            5            6
17  large_economies  18504     11            0            5            6

    $|L|$
0      16
1       5
2      37
3       3
4       3
5       9
6       8
7       3
8      10
9      61
10     61
11     61
12     61
13     61
14     61
15     61
16     61
17     61
\begin{tabular}{lrrrrrr}
\toprule
$\Omega$ & $N$ & $|A|$ & $|A_{bin}|$ & $|A_{num}|$ & $|A_{cat}|$ & $|L|$ \\
\midrule
wisconsin & 194 & 16 & 0 & 16 & 0 & 16 \\
cpu & 8192 & 6 & 0 & 6 & 0 & 5 \\
voting & 351 & 83 & 0 & 82 & 1 & 37 \\
student_math & 395 & 30 & 8 & 13 & 17 & 3 \\
student_por & 649 & 30 & 8 & 13 & 17 & 3 \\
elevators & 16599 & 9 & 0 & 9 & 0 & 9 \\
ecoli & 336 & 7 & 2 & 5 & 2 & 8 \\
wine & 178 & 13 & 0 & 13 & 0 & 3 \\
sushi & 5000 & 10 & 4 & 2 & 8 & 10 \\
Netherlands & 213 & 11 & 0 & 5 & 6 & 61 \\
France & 907 & 11 & 0 & 5 & 6 & 61 \\
Germany & 1114 & 11 & 0 & 5 & 6 & 61 \\
India & 1274 & 11 & 0 & 5 & 6 & 61 \\
Australia & 1601 & 11 & 0 & 5 & 6 & 61 \\
South Korea & 662 & 11 & 0 & 5 & 6 & 61 \\
Indonesia & 626 & 11 & 0 & 5 & 6 & 61 \\
Brazil & 508 & 11 & 0 & 5 & 6 & 61 \\
large_economies & 18504 & 11 & 0 & 5 & 6 & 61 \\
\bottomrule
\end{tabular}